body, h1, h2, h3, h4, p, ul, li, fieldset, span, dd, dl, dt {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
fieldset, img {
    border: 0;
    vertical-align: middle;
}
a {
	text-decoration: none;
}
button, input, textarea {
    outline: none;
    border: none;
}
/* img {
	display: block;
} */
.left {
	float: left;
}
.right {
	float: right;
}
.clear:after {
	content: "";
	display: block;
	clear: both;
	height: 0;
	overflow: hidden;
	visibility: hidden;
}
body {
	font-family: "微软雅黑";
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
}
.header-left ul li{
	float: left;
}
.header-right ul li{
	float: right;
}
header{
	height: 35px;
	line-height: 35px;
	text-align: center;
	background: #333;
}
header ul li a:hover{
    background: #a9a9a9;    
}
.header-left ul li a{
	display: block;
    height: 35px;
    width: 145px;
    text-align: center;
    color: #ffffff;
    font-size: 13px;
    line-height: 35px;
}
.header-right ul a{
	color: white;
	margin: 0 5px;
}
.header-right{
	margin-right: 80px;
}
.header-right ul li a{
    display: block;
	height: 18px;
    line-height: 18px;
    color: #ffffff;
    padding-left: 25px;
    font-size: 12px;
    margin-top: 9px;
}
/* 导航栏部分 */
.com-width {
    width: 1226px;
    margin: 0 auto;
}
.nav{
	position: relative;
	height: 78px;
}
.nav ul{
    margin-left: 80px;
}
.nav ul li{
	float: left;
	width: 90px;
}
.nav ul li a{
	font-size: 16px;
    line-height: 78px;
    height: 78px;
    text-align: center;
	color: #333;
}
.nav ul li a:hover{
	color: red;
}
.nav-r{
	padding-left: 10px;
    height: 38px;
    line-height: 38px;
    line-height: 38px\9;
    font-size: 14px;
    color: #a9a9a9;
    float: left;
    font-family: "Microsoft YaHei", "微软雅黑", "Arial", sans-serif;
    width: 155px;
}
.input{
    height: 38px;
    width: 200px;
    border: 1px solid #e3e3e3;
    float: right;
    overflow: hidden;
    margin-top: 17px;
}
.btn{
	width: 35px;
    height: 38px;
    background: url(../img/home-serach-btn_05.png) no-repeat left center;
    cursor: pointer;
}
/* 侧边导航菜单 */
.menu{
	width: 226px;
    position: absolute;
    top: 29%;
    left: 50%;
    margin-left: -560px;
	z-index: 100;
}
.menu ul{
	height: 480px;
    padding: 10px 0px;
	background: rgba(0,0,0,.4);
}
.menu ul li{
	height: 60px;
    line-height: 60px;
}
.menu ul li:hover{
	background: #f12020;
}
.menu ul li a{
	color: #FFFFFF;
	font-size: 16px;
	margin-left: 76px;
}
.menu1{
	 background: url(../img/inner-chiq-icon.png) no-repeat 30px center;
	 background-position: 18px center;
}
.menu2{
	background: url(../img/inner-TV-icon.png) no-repeat 30px center;
	background-position: 18px center;
}
.menu3{
	background: url(../img/inner-air-icon.png) no-repeat 30px center;
	background-position: 18px center;
}
.menu4{
	background: url(../img/inner-icebox-icon.png) no-repeat 30px center;
	background-position: 18px center;
}
.menu5{
	background:url(../img/inner-ele-icon.png) no-repeat 30px center;
	background-position: 18px center;
}
.menu6{
	background: url(../img/inner-digital-icon.png) no-repeat 30px center;
	background-position: 18px center;
}
.menu7{
	background: url(../img/inner-other-icon.png) no-repeat 30px center;
	background-position: 18px center;
}
/* banner图 */
#banner{
	margin:0 auto;
	position: relative;
	height: 500px;
}
#banner ul li{
	position: absolute;
	left:0px;
	top:0px;
	display: none;
}
#banner img{
	width: 100%;
	height: 500px;
}

/* 主体部分 */
.com-width2{
    width: 1130px;
    margin: 0 auto;	
}
.floor #radio{
	height: 40px;
    padding-left: 55px;
    background: url(../img/home-radio-icon_03.png) no-repeat left 3px;
    overflow: hidden;
    position: relative;
}
#notice h5{
	font-weight: normal;
    line-height: 40px;
    font-size: 14px;
    color: #333333;
    float: left;
}
.home-left{
	width: 226px;
    overflow: hidden;
    position: relative;
    background: #585858;
}
.activity-nav-line-f {
    position: absolute;
    top: 50%;
    display: block;
    width: 100%;
    height: 1px;
    background: #717171;
}
.activity-nav-line-s {
    position: absolute;
    left: 50%;
    display: block;
    height: 100%;
    width: 1px;
    background: #717171;
}
.xbox li{
	float: left;
	width: 50%;
    height: 80px;
}
.xbox img{
	display: block;
	width: 30px;
	height: 30px;
	padding: 15px 0px 5px;
    margin: 0px auto;
}
.xbox li a{
	display: block;
    height: 79px;
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    line-height: 1;
}
.home-active{
	width: 1226px;
	height: 160px;
}
.home-right ul li{
	float: left;
	margin-left: 13px;
}

.floor1{
	width: 1226px;
	height: 685px;
    padding-top: 30px;
    margin-top: 0px;
    margin-bottom: 5px;
}
.floor5{
	 width: 1226px;
	 height: 365px;
	 padding-top: 30px;
	 margin-top: 0px;
	 margin-bottom: 5px;
}
.tv-left{
	width: 226px;
	float: left;
}
.tv-title p{
	padding-left: 13px;
    font-size: 22px;
    color: #333333;
    line-height: 25px;
    height: 25px;
	float: left;
	border-left: 4px solid #ca694e;
}
.tv-title a{
	color: #8a4532;
	font-size: 14px;
    float: right;
	margin-right: 5px;
	line-height: 25px;
	margin-left: 40px;
}
.tv-left-img{
	height: 630px;
    overflow: hidden;
	width: 226px;
	float: left;
	margin-top: 20px;
}
.tv-right ul{
	margin-top: 50px;
}
.tv-right ul li{
	float: left;
	width: 190px;
    height: 260px;
    margin-bottom: 10px;
    padding: 25px;
	margin-left: 10px;
}
.tv-right ul li:hover {
    box-shadow: 0px 0px 5px 3px #e9e9e9;
}
.screen-title{
	margin-right:20px;
}
.screen-title h1{
	font-size: 14px;
    line-height: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 15px;
	margin-top: 20px;
}
.screen-title h3{
    font-size: 16px;
    text-align: center;
    color: #f12020;
    line-height: 22px;
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: normal;
	margin-top: 40px;
}

/* 底部部分 */
.logistics{
    padding: 37px 25px 0px;
    height: 77px;
    border-bottom: 1px solid #dddddd;
}
.logistics ul li{
    float: left;
    /* margin-left: 260px; */
}
.footer {
    background: #efefef;
	margin-top: 50px;
}
.footer-help {
    height: 340px;
	position: relative;
}
.help-about {
    padding: 37px 25px 0px;
    height: 77px;
    border-bottom: 1px solid #dddddd;
}
.help-server {
    /* width: 325px; */
    width: 385px; 
}
.help-server {
    padding-top: 4px;
    /* width: 235px; */
}
.if{
	float: left;
}
.ml40 {
    margin-left: 40px;
}
.help-team {
    width: 186px;
    margin-left: 48px;
}
/* .help-about{
	margin-left: 40px;
}
.help-server{
	margin-left: 40px;
} */
.help-server ul li.help-title {
    font-size: 16px;
    color: #333333;
    font-weight: 500;
}
.help-server ul li.help-title {
    line-height: 16px;
    height: 16px;
    margin-bottom: 18px;
}
.help-server ul li {
    line-height: 30px;
    height: 30px;
}
.help-server ul li a {
    font-size: 12px;
    color: #999;
}
.lf {
    float: left;
}
.about-icon {
    float: left;
}
.about-describe {
    margin-left: 70px;
}
.help-tel {
    width: 208px;
    margin-left: 62px;
}
.help-tel {
    height: 147px;
    border-left: 1px solid #cccccc;
    width: 228px;
    padding-top: 4px;
    margin-left: 82px;
}
.help-tel p {
    margin-left: 45px;
    padding-left: 33px;
}
.help-tel p a {
    font-size: 14px;
    color: #666666;
}
.airlines {
    background: url(../img/Customer-service_12.png) no-repeat left center;
    margin-top: 7px;
} 
.feedback {
    background: url(../img/feedback_17.png) no-repeat left center;
    margin-top: 14px;
}
.help-code {
    float: right;
    padding: 4px 22px 0px;
    height: 147px;
    width: 240px;
    border-left: 1px solid #cccccc;
	position: absolute;
	right: -100px;
}
.help-tel h1 {
    font-size: 20px;
    font-weight: 500;
    color: #333333;
    text-align: center;
    line-height: 22px;
    margin-bottom: 15px;
}
.about-describe h1 {
    font-size: 18px;
    color: #333333;
    line-height: 18px;
}
.about-describe p {
    font-size: 14px;
    line-height: 14px;
    color: #999;
    margin-top: 10px;
}
.about-CQ-center {
    width: 236px;
    margin: 0px auto;
}
.rt {
    float: right;
}
.help-ways {
    margin-top: 20px;
    padding-left: 25px;
}
.foot-statement {
    height: 224px;
    background: #333333;
}
.foot-logo {
    text-align: center;
    height: 36px;
    vertical-align: middle;
    margin-bottom: 39px;
}
.foot-logo img{
	margin-top: 20px;
	margin-bottom: 20px;
}
.foot-txt p {
    text-align: center;
    font-size: 12px;
    line-height: 24px;
    color: #999999;
}
.foot-note {
    overflow: hidden;
    margin-top: 24px;
}
.foot-note p {
    float: left;
    height: 32px;
    line-height: 32px;
    vertical-align: middle;
    font-size: 12px;
    color: #999999;
}
.foot-note p img {
    margin-right: 10px;
}
.help-code-box p {
    font-size: 14px;
    color: #333333;
    line-height: 32px;
    text-align: center;
}
.foot-shopping {
    border-top: 1px solid #cccccc;
    margin-top: 134px;
    padding-top: 14px;
}
.foot-shopping p {
    line-height: 30px;
}
.foot-shopping p a {
    font-size: 16px;
    color: #333333;
    line-height: 30px;
    font-weight: 500;
}
.foot-note p a {
    color: #999999;
}


