.zc{
	font-size: 24px;
    color: #333333;
    margin-top: 26px;
    line-height: 26px;
    height: 26px;
    margin-left: -30px;
    border-left: 2px solid rgb(221, 221, 221);
    padding-left: 15px;
    float: left;
	font-weight: 500;
}
.nav{
         box-shadow: 0px 3px 3px 0px #e1e1e1; 
}
.nav-left img{
	margin-left: 40px;
	width: 280px;
	height: 100px;
	margin-top: -10px;
}
.register{
     /* background: #717171; */
    height: 680px;
	width: 320px;
    margin: 66px auto 0px auto;
}
.form {
    width: 800px;
    margin: 0 auto;
}

input {
    width: 300px;
    height: 30px;
    border: 1px solid #ccc;
    margin-bottom: 40px;
    margin-left: 10px;
    /* border: 1px solid #e34f75; */
}
.register .code {
    width: 100px;
    height: 30px;
    border: 1px sol
}
.agree {
    /* padding: 13px 140px; */
    width: 320px;
    height: 44px;
    line-height: 44px;
    background: #f12012;
    color: #fff;
    outline: 0;
    border: none;
    font-size: 16px;
    position: absolute;
    left: 500px;
    margin-top: 10px;
    cursor: pointer;
    margin-top: 45px;
}
 p{
    font-size: 14px;
    color: #000;
}
em{
    font-style: normal;
    color: red;
}
h3{
    margin-left: 60px;
    font-weight: 400;
    height: 20px;
    font-size: 14px;
    color: #989898;
    margin-top: 10px;
}
.registe strong {
    font-size: 24px;
    padding-left: 20px;
}
#checkbox{
    float: left;
    cursor: pointer;
    display: block;
    text-align: center;
    margin-top: 9.5px;
    width: 10px;
    height: 20px;
    line-height: 20px;
    margin-left: 50px;
}
.registe i {
    font-size: 14px;
    color: #c6d8f1;
    cursor: pointer;
    margin-left: 10px;
    line-height: 30px;
}

.registe span {
    margin-left: 10px;
}
.judge{
    margin-left: 170px;
}